// Specific CSS for your home-page
.wannabreak {
  color: #004AAD;
  margin-bottom: 100px;
}
.home-page{
  padding: 100px;
  margin: 100px;
  background-color: #fffcfc;
}
.home{
  margin-bottom: 100px;
  color: #004AAD;
}
.home-image{
  margin-left: 100px;
}

.title {
  color: #004AAD;
  margin-bottom: 100px;
  text-align: center;
}
.subtitle {
  color: #004AAD;
  text-align: center;
}

.items_page{
  background-color: #fffcfc;
  padding: 100px 30px 100px 30px;
  margin: 100px;
}

.category{
  background-color: #fffcfc;
  padding: 22px;
  margin-bottom: 36px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}
.menuitem{
  padding: 40px;
}

.item_details{
  font-size: 22px;
  color:#004AAD;
}

.cart_page{
  padding: 150px;
  margin: 100px;
  background-color: #fffcfc;
}

.cart-items {
  justify-content: center;
}

.thanks{
  padding: 100px;
  margin: 100px;
  background-color: #fffcfc;
}

.btn-officebreaks {
  font-size: 24px;
  background-color:#004AAD;
}

.btn-green {
  font-size: 24px;
  background-color:#35a575;
}

// tickbox
input[type='checkbox'] {
  width: 20px;
  height: 20px;
}
