// Specific CSS for your home-page
.wannabreak {
  color: #004AAD;
  margin-bottom: 100px;
}
.home-page{
  padding: 100px;
  margin: 100px;
  background-color: white;
}
.home{
  margin-bottom: 100px;
  color: #004AAD;
}
.home-image{
  margin-left: 100px;
}

.title {
  color: #004AAD;
  margin-bottom: 100px;
  text-align: center;
}
.subtitle {
  color: black;
  text-align: center;
}

.items_page{
  padding: 150px;
  margin: 100px;
  background-color: white;
}
.menu {
  display: flex;
  flex-wrap: wrap;
}
.menuitem{
  padding: 100px;
}


.cart-items {
  justify-content: center;
}

.thanks{
  padding: 100px;
  margin: 100px;
  background-color: white;
}

.btn {
  font-size: 24px;
}