// Specific CSS for your home-page
.wannabreak {
  color:rgb(55, 55, 200);
  margin-bottom: 100px;
}

.home{
  margin-bottom: 100px;
}
.home-image{
  margin-left: 100px;
}

.title {
  color: #3d85c6;
  margin-bottom: 100px;
  text-align: center;
}
.subtitle {
  color: black;
  text-align: center;
}

.items_page{
  padding: 150px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
}
.menuitem{
  padding: 100px;
}