<div class="m-5" style="text-align: center;">
  <div class="title">
    <h1>Thank you for shopping with OfficeBreaks!</h1>
  </div>
  <div class="p-5">
    <%= link_to "<Back To Menu", items_url(), style: "color: white;", class: "btn btn-success" %>
  </div>
</div>

