<div class="m-5" style="text-align: center;">
  <div class="p-3">
    <h1>Thank you!</h1>
  </div>
  <div class="p-3">
    <button type="button" class="btn btn-primary"><%= link_to "Go Back To Menu", items_url(), style: "color: white;" %></button>
  </div>
</div>

