
<% if user_signed_in? %>
  <div class="flex">
    <h1>Hello</h1>
    <p>Log in first please.</p>
  </div>
<% else %>
  <div class="flex">
    <h1>Welcome to OfficeBreak</h1>
    <p>Log in first please.</p>
  </div>
<% end %>