
<% if user_signed_in? %>
  <div class="m-5" style="text-align: center;">
    <div class="m-3">
    <h1>Hello</h1>
    </div>
    <div class="m-3">
    <%= link_to "View Menu List", items_url() %>
    </div>
  </div>
<% else %>
  <div class="m-5" style="text-align: center;">    
  <div class="m-3">
    <h1>Welcome to OfficeBreak!</h1>
  </div>
  <div class="m-3">
    <button class="m-5 btn btn-primary"> 
      <%= link_to "Login", new_user_session_path, style: "color:white;" %>
    </button>
  </div>
  </div>
<% end %>