.navbar-officebreaks {
  justify-content: space-between;
  background: #004AAD;
  padding: 0;
}

.navbar-officebreaks .navbar-collapse {
  flex-grow: 0;
}

.navbar-officebreaks .navbar-brand img {
  width: 40px;
}

.nav-item {
  color: white;
  margin: 12px;
  text-decoration: none;
  margin-right: 20px;
  font-size: 22px;
}
